Django==1.6.2
Fabric==1.8.3
Mezzanine==3.0.9
argparse==1.2.1
bleach==1.4
ecdsa==0.11
filebrowser-safe==0.3.2
future==0.9.0
grappelli-safe==0.3.7
html5lib==0.999
oauthlib==0.6.1
paramiko==1.12.3
pycrypto==2.6.1
pytz==2014.2
requests==2.2.1
requests-oauthlib==0.4.0
six==1.6.1
tzlocal==1.0
wsgiref==0.1.2
